::view-transition-group(root) {
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
}

::view-transition-new(root) {
  animation-name: reveal-up;
}

.dark::view-transition-new(root) {
  animation-name: reveal-down;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  z-index: -1;
  animation: none;
}

@keyframes reveal-up {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes reveal-down {
  from {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
